@font-face {
    font-family: 'Jeju Hallasan';
    src: url('../../../public/JejuHallasan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    background: #fff;
}

.background {
    background-image: url('../../../public/module1_st2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100vh;
    min-width: 100vw;
}

.label {
    position: absolute;
    color: #FFFCB1;
    font-family: 'Jeju Hallasan', sans-serif;
    font-size: 40px;
}