
.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center inline content (like the download button) */
}
.image-wrapper img {
  width: 205px;
  height: 282px;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
