/* App.css */

/* Reset default margin and padding */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0076CE;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Allow vertical scrolling */
}

.images-container {
  margin-top: 500px; /* Adjust as needed */
}
/* Header styles */
.header {
  background-color: #0076CE;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Main content styles */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Text content styles */
.text-content {
  flex: 1;
  padding-right: 20px;
  color: #FFFFFF;
  max-width: 600px; /* Set a maximum width for the text content */
  margin: auto; /* Center the text content horizontally */
  overflow: hidden; /* Hide any content that overflows */
}

.text-content h2 {
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 70px;
  margin-top: 163px;
  color: #FFFFFF;
}

.text-content p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

/* Image content styles */
.image-content {
  flex: 1;
}

.image-content img {
  width: 565px; /* Set the width */
  height: 820px; /* Set the height */
  position: absolute;
  top: 150px; /* Position from the top edge of .image-content */
  left: 953px; /* Position from the left edge of .image-content */
}
/* Styles for the image wrapper */
.images-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center inline content (like the download button) */
}
.image-wrapper img {
  width: 205px;
  height: 282px;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* Add this CSS to your CSS file */
.download-button-wrapper {
  margin-top: 10px; /* Add margin for spacing */
}

.download-button {
  background-color: transparent;
  border: 1px solid #0076ce;
  color: #0076ce;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #0076ce;
  color: white;
}