.buttons-container {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 20px; /* Adjust as needed */
}

.button {
  width: 179px;
  height: 60px;
  background-color: #F6F1F1;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

  .content {
    text-align: center;
    margin-top:300px;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: black;
  }
  
  .description {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
  }
  
  .highlight {
    color: #146C94;
  }